*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    background-image: linear-gradient(rgba(4,8,29,0.7), rgba(4,8,29,0.7)),url("image8.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
ul{
    display: flex;
    float: left;
    
}
ul li a{
    padding: 10px;
    color: plum;
    margin: auto;
   text-decoration: none;
}
ul li{
    list-style-type: none;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 800;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: peru;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 80%;
}

.dial{
    padding-top: 200px;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
}
.dial a{
    text-decoration: none;
    color: lightgreen;
}
.dial i{
    color: blanchedalmond;
}